.HomePageWrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 15% 15% 70%;
  grid-template-areas: "header menu"
                       "header search"
                       "header drawerListWrapper";
                       
}

.DrawerListWrapper {
  grid-area: drawerListWrapper;
  display: flex;
  flex-direction: column;
  height: 60vh;
  align-content: center;
  overflow: auto;
  margin: 2em 1em;
}
