.UserDash {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "header menu"
                       "header userDashWrapper";
  text-align: center;
}

.UserDashWrapper {
  grid-area: userDashWrapper;
  height: 80vh;
  
  h2 {
    color: black;
  }
}

.homeSection {
  width: 60vw;
  margin: 0 auto;
}

.homeDisplay {
  background-color: #d7e393;
  padding: 14px 20px;
  margin: 10px;
  text-align: left;
  display: flex;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  p {
    font-family: 'Sulphur' sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    margin: 0;
    flex-grow: 1
  }

  span {
    font-family: 'Sulphur', sans-serif;
    opacity: 0.3;
    cursor: pointer; 
    padding: 0 3px;
  }
}

button {
  font-family: 'Sulphur', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: .08em;
  border: none;
  padding: .5rem 1rem;
  margin: 20px 0;
  background: #8ab4b1;
  color: white;
}

@media only screen and (max-width: 450px) {
  .UserDash {
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "header"
                         "userDashWrapper";
  }

  .homeSection{
    width: 80vw;
  }

  .UserDashWrapper {
    grid-area: userDashWrapper;
    height: 80vh;
    margin-top: 3rem;

    h2 {
      color: black;
    }
  }
}
