.Drawer {
  .Name {
    display: flex;
    align-items: center;
    background: #a7d0b1;
    margin: 20px 40px;
    padding: 5px 20px;

    img {
      width: 30px;
      height: 30px;
    }
    
    h3 {
      height: fit-content;
      font-family: 'Sulphur', sans-serif;
      font-weight: 700;
      font-size: 1.5em;
      text-transform: uppercase;
      letter-spacing: .06em;
      color: black;
      margin: 10px 20px 10px 10px;
    }

    .dropButton {
      height: fit-content;
      background: transparent;
      border: none;
      transform: rotate(0deg);
      transition: transform 0.3s;
      font-family: 'Sulphur', sans-serif;
      font-weight: 700;
      font-size: 1.5em;
      color: black;
      padding: 0;
    } 

    .dropButton:focus { 
      outline: none;
    }

    .up {
      transform: rotate(180deg);
      margin-top: 0;
    }
    
    .down {
      transform: rotate(90deg);   
      margin-top: 0; 
    }
  }

  .Tray {
    display: flex;
    flex-direction: column;
    transition: max-height 0.3s;
    background: white;
    margin: -20px 40px 20px 40px;
    justify-content: left;
  }

  .Appliance {
    border: 5px solid #9e5569;
    p {
      color: #9e5569;
    }
  }

  .Material {
    border: 5px solid #c08962;
    p {
      color: #c08962;
    }
  }

  .PaintSwatch {
    border: 5px solid #d58ac3;
    p {
      color: #d58ac3;
    }
  }

  .Utility {
    border: 5px solid #97a5bf;
    p {
      color: #97a5bf;
    }
  }

  .Contact {
    border: 5px solid #fb9e7f;
    p {
      color: #fb9e7f;
    }
  }

  .Plant {
    border: 5px solid #95b565;
    p {
      color: #95b565;
    }
  }

  .Appliance {
    border: 5px solid #9e5569;

    p {
      color: #9e5569;
    }
  }

  .open{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;

    div {
      display: flex;
      align-items: center;
      height: 40px;
      padding: 5px 15px;
      margin: 5px 10px;
    }

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    p {
      font-family: 'Sulphur', sans-serif;
      font-weight: 600;
      font-size: 1.1em;
      letter-spacing: .07em;
    }

  }

  .closed{
    visibility: hidden;
    max-height: 0px;
  }
}
