.Drawer {

  .Name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #a7d0b1;
    margin: 20px 40px;
    padding: 9px 20px;

    img {
      width: 27px;
      height: 35px;
    }
    
    h3 {
      font-family: 'Sulphur', sans-serif;
      font-weight: 700;
      font-size: 1.5em;
      text-transform: uppercase;
      letter-spacing: .07em;
      color: black;
    }

    .dropButton {
      height: fit-content;
      background: transparent;
      border: none;
      transform: rotate(0deg);
      transition: transform 0.3s;
      font-family: 'Sulphur', sans-serif;
      font-weight: 700;
      font-size: 1.5em;
      color: black;
    } 

    .dropButton:focus { 
      outline: none;
    }

    .up {
      transform: rotate(180deg);
      margin-top: 0;
    }
    
    .down {
      transform: rotate(90deg);   
      margin-top: 0; 
    }
  }

  .Tray {
    display: flex;
    flex-direction: column;
    transition: max-height 0.3s;
    background: white;
    margin: -20px 40px 20px 40px;
    justify-content: center;
  }

  .open{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 9rem;
    padding: 15px;

    img {
      width: 27px;
      height: 35px;
    }

    p {
      font-family: 'Sulphur', sans-serif;
      font-weight: 600;
      font-size: 1.1em;
      letter-spacing: .07em;
      color: orchid;
      padding: 5px 15px;
      margin: 5px 10px;
      border: 5px solid orchid;
    }

  }

  .closed{
    visibility: hidden;
    max-height: 0px;
  }
}
