.AboutWrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 20% 80;
  grid-template-areas: "header menu"
                       "header ProfileWrapper";
}

.ProfileWrapper {
  align-content: center;
  margin: 0 1em;
  overflow: scroll;
  height: 80vh;
  }

  .Intro {
    font-family: 'Sulphur', sans-serif;
    font-weight: 700;
    font-size: 2.4em;
    letter-spacing: .03em;
    color: black;
    text-align: center;
    margin-bottom: 20px;

    @media only screen and (max-width: 450px) {
      font-size: 1.8em;
      margin-bottom: 10px;
    }
  }

  .Profiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 80%;
    width: 80%;

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
      width: 90%;
    }

    @media only screen and (max-width: 450px) {
      width: 100%;
    }
  }  

  .profileContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(215, 227, 147, .5);
    padding: 2em;
    border-radius: 10px;
    width: 35%;
    height: 400px;
    margin: 10px;

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
      width: 100%;
      height: 370px;
    }

    @media only screen and (max-width: 450px) {
      width: 100%;
      height: 380px;
      padding: 1.5em 1em;
    }
  }

  .Name {
    font-size: 1.5em;
    color: #08b89d;
    margin-bottom: 5px;
  }

  .content {
    width: 100%;
    font-size: .9em;
    line-height: 1.3em;
  }

  .Angela {
    display: flex;
    justify-content: center;
    background: url(../assets/about/Angela.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #08b89d;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 200px;
    width: 200px;

    @media only screen and (max-width: 450px) {
      width: 150px;
      height: 150px;
    }
  }

  .Allison {
    display: flex;
    justify-content: center;
    background: url(../assets/about/Allison.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #08b89d;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 200px;
    width: 200px;

    @media only screen and (max-width: 450px) {
      width: 150px;
      height: 150px;
    }
  }

  .Luke {
    display: flex;
    justify-content: center;
    background: url(../assets/about/Luke.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #08b89d;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 200px;
    width: 200px;

    @media only screen and (max-width: 450px) {
      width: 150px;
      height: 150px;
    }
  }

  .John {
    display: flex;
    justify-content: center;
    background: url(../assets/about/John.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #08b89d;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 200px;
    width: 200px;

    @media only screen and (max-width: 450px) {
      width: 150px;
      height: 150px;
    }
  }

  .linkPage {
    font-family: 'Sulphur', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: .05em;
    text-transform: lowercase;
    color: black;
    margin-top: 10px;

    @media only screen and (max-width: 450px) {
      font-size: 1em;
      height: 150px;
    }
  }

  .linkPage:hover {
    color: #08b89d;
  }
