.Menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 30px 30px 0 0;

  h5 {
    font-family: 'Sulphur', sans-serif;
    font-weight: 700;
    font-size: .9rem;
    color: black;
    letter-spacing: .08em;
    margin-bottom: 10px;
  }

  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }

  .bm-burger-bars {
    background: black;
  }

  .bm-burger-bars-hover {
    background: #8ab4b1;
  }

  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  .bm-cross {
    background: black;
  }

  .bm-cross-hover {
    background: #8ab4b1;
  }

  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  .bm-menu {
    background: black;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  .bm-item {
    display: inline-block;
  }

  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  /*nav {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    justify-content: center;
    height: auto;
    width: auto;
    cursor: pointer;
    padding: 5px;
  }*/

  a {
    font-family: 'Sulphur', sans-serif;
    font-weight: 700;
    font-size: .8rem;
    color: black;
    letter-spacing: .08em;
    padding: 3px 0;
    margin: 0 7px;
    text-decoration: none;
  }

}