html {
  width: 100vw;
  height: 100vw;
}

  header {
  width: 100vw;
}

.logo-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 30px;
  padding: 20px;
  background: whitesmoke;
}

.logo {
  width: 100%;
  height: auto;
}