.SignupLogin {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: black;
  flex-direction: column;
  justify-content: center;
  position: relative;

  div {
    width: 250px;
    height: 250px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    z-index: 2;
  }
  
  img {
    height: 80%;
  }

  .Form {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    z-index: 2;

    input {
      margin: .5em 0;
    }

    button {
      background: #7BB4A6;
      color: white;
      width: 70px;
      font-size: .8rem;
    }

    .Toggle {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: white;
      font-family: sans-serif;
      letter-spacing: .02rem;
      text-shadow: 0px 0px 3px black;

      span:hover{
        cursor: pointer;
      }
    }
  }
}

.SignupLogin::before {
  content: "";
  background: url('../../assets/livingRoom.jpg');
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .65;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
